<div id="users" class="uk-child-width-1-4@m" uk-grid>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/admin/listUsers.js" defer></script>