<div class="uk-padding-large uk-child-width-1-1" uk-grid>
    <h3>Restaurar Contraseña</h3>
    La contraseña ha sido cambiada. Para loguearse, haga click en el enlace:
    <a href="/login">Ir a login</a>
</div>