<div class="uk-padding-large uk-child-width-1-1" uk-grid>
    <h3>Restaurar Contraseña</h3>
    <form method="post">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="email" class="uk-input" type="text" aria-label="Not clickable icon" placeholder="email">
            </div>
        </div>

        {{#if errors}}
            {{#each errors}}
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-danger">{{this}}</span>
                    </div>
                </div>
            {{/each}}
        {{/if}}

        <button class="uk-button uk-button-default">Restaurar contraseña</button>
    </form>
</div>