<div class="uk-padding-large uk-child-width-1-1" uk-grid>
    <h3>Restaurar contrase単a</h3>
    <form action="/new-password" method="post">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="timestamp" value="{{timestamp}}">

        <div class="uk-margin">
            <div class="uk-inline">
                <input name="password" class="uk-input" type="password" placeholder="Nueva Contrase単a">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <input name="password2" class="uk-input" type="password" placeholder="Confirma Contrase単a">
            </div>
        </div>

        {{#if error}}
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-danger">{{ error }}</span>
                </div>
            </div>
        {{/if}}

        {{#if errors}}
            {{#each errors}}
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-danger">{{ this }}</span>
                    </div>
                </div>
            {{/each}}
        {{/if}}

        <button class="uk-button uk-button-default">Cambiar contrase単a</button>
    </form>
</div>